<% include header %>

<div class="container">
	<div class="col-12">
		<a href="<%= username + '/new-poll' %>"><h3>New Poll</h3></a>
		<div class="center">
			<br>
			<table class="table table-bordered">
				<thead class="thead-default">
					<th>Poll</th>
					<th>Manage</th>
				</thead>
				<tbody>
					<% polls.forEach(function(poll){ %>
						<tr>
							<td><h4><a href="<%= username + '/' + poll._id %>"> <%= poll.question %> </a></h4></td>
							<td><a href="#" onclick="deletePoll('<%= username %>', '<%= poll._id %>')">Delete</a></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/dashboard.js"></script>

<% include footer %>